footer
    width: 100%
    z-index: 5
    opacity: 0
    color: #fff
    position: fixed
    bottom: 0
    transition: opacity cubic-bezier(0.32, 0, 0.67, 0) .8s, bottom cubic-bezier(0.65, 0, 0.35, 1) .7s .15s
    .container
        display: flex
        align-items: center
        .left-box
            p 
                font-family: 'Lato', sans-serif
                font-size: 16px
                line-height: 1.5
                letter-spacing: normal
                color: #efefef
                a
                    font-family: 'Lato', sans-serif
                    font-size: 16px
                    line-height: 1.5
                    letter-spacing: normal
                    color: #efefef
                    font-weight: 900
                    text-decoration: none
                    cursor: pointer

        .right-box