// Import font family
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

// General Option
::-webkit-scrollbar 
    width: 8px

 
::-webkit-scrollbar-track 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
    background-color: black



::-webkit-scrollbar-thumb 
    border-radius: 10px
    background-color: white
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5)

.wrapper
    background-color: #000
    height: 400vh
    overflow: scroll
    &::-webkit-scrollbar-thumb
        background-color: #F5F5F5
.container 
    max-width: 1152px
    margin: 0 auto
    @media screen and (max-width: 1024px)
        max-width: 950px
    @media screen and (max-width: 768px)
        max-width: 700px
    @media screen and (max-width: 425px)
        max-width: 300px


// Header style
header
    position: fixed
    width: 100%
    padding-top: 80px
    z-index: 3
    @media screen and (max-width: 1024px)
        padding-top: 40px
    @media screen and (max-width: 425px)
        padding: 20px 0 40px
    .container
        display: flex
        align-items: flex-start
        justify-content: space-between
.img-logo
    img
        width: 64px
nav.nav-top
    ul
        text-align: right
        @media screen and (max-width: 425px)
            display: none
        li
            a
                font-size: 21px
                text-decoration: none
                color: #efefef
                font-family: 'Lato', sans-serif
                font-weight: 300
                padding: 5px 0
                opacity: .85
                transition: all ease-in-out .2s
            a:hover
                color: #ffffff
                opacity: 1
        li:nth-child(2)
            margin: 32px 0
.title
    position: fixed
    width: 100%
    bottom: 10%
    z-index: 3
    &__footer
        display: flex
        align-items: center
        justify-content: space-between
        @media screen and (max-width: 425px)
            padding-top: 40px
        &__title
            p
                font-size: 37px
                color: #efefef
                font-family: 'Lato', sans-serif
                font-weight: 600
                padding: 10px 0
                letter-spacing: 6px
            p:last-child
                padding-bottom: 43px 
        &__arrow
            img
                width: 32px
                opacity: .5
                transition: all ease-in-out .2s
            img:hover
                opacity: 1s

// INTRO SECTION
.intro
    height: 100vh
    width: 100%
    position: fixed
    opacity: 1
    transition: all ease-in-out .4s
    z-index: 1
    .container
        padding-top: 200px
    &__animation
        width: 310px
        position: relative
        margin: 0 auto
        .grid-square
            rect.line.line-left-bottom, rect.line.line-right-bottom, .line-right-top
                stroke-dasharray: 3000
                stroke-dashoffset: 3000
                stroke-miterlimit: 1
                animation: lineSquare 4s cubic-bezier(0.12, 0, 0.39, 0)
            rect.line.line-left-bottom-black, rect.line.line-right-bottom-black, .line-right-top-black
                stroke: black
                stroke-miterlimit: 1
                stroke-dasharray: 3000
                stroke-dashoffset: 3000
                animation: lineSquare 4.2s .8s cubic-bezier(0.12, 0, 0.39, 0)
            #Vertical-Left, #Vertical-Right
                line
                    stroke-dasharray: 3000
                    stroke-dashoffset: 0
                    animation: lineDash 2s cubic-bezier(0.87, 0, 0.13, 1) forwards
                    // transform-origin: center
                    // transform: rotate(180deg)
                    // transform-box: fill-box
        .circle-plain
            width: 155px
            position: absolute
        .circle-plain-right
            right: 0
            top: 0
            #Stroke
                transform: rotate(180deg)
                transform-origin: center
                path
                    stroke-dasharray: 4000
                    stroke-dashoffset: 4000
                    animation: dash 1.5s linear forwards
        .circle-plain-left 
            left: 0
            top: 0
        .circle-plain-left-bottom
            left: 0
            bottom: 0
            #Stroke
                transform: rotate(180deg)
                transform-origin: center
                path
                    stroke-dasharray: 4000
                    stroke-dashoffset: 4000
                    animation: dash 1.5s linear forwards
        .circle-plain-right-bottom
            right: 0
            bottom: 0



// SECOND SEСTION
.about
    height: 100vh
    // padding: 100px 0
    width: 100%
    position: fixed
    opacity: 0
    transition: all ease-in-out .2s
    .container
        padding-top: 100px
    &__animation
        margin: 0 auto
        width: 510px


// THIRD SECTION
.we-create
    height: 100vh
    padding: 100px 0
    width: 100%
    position: fixed
    opacity: 0
    transition: all ease-in-out .2s
    &__animation
        margin: 0 auto
        width: 510px
        .ubi-svg
            overflow: visible
            #Rigth-Block
                transform: translateY(2000px)
            #Square-CENTER
                rect
                    transform: translateY(790px)
                    z-index: 1
            #Block-Center-Right-L-Black
                rect 
                    fill: black
                    z-index: 0
            #Block-Center-Top-Left-L
                rect 
                    transform: translateY(1400px)
            #Block-Center-Top-Left-L-Black
                rect
                    fill: black
                    stroke: #efefef
            #Block-Left-Top-Black
                rect
                    fill: black
                    stroke: #efefef
            g#Block-Left-Top
                rect
                    transform: translateY(1400px)
            #Block-Left-Bottom
                rect 
                    // animation: goGo 2s cubic-bezier(0.33, 1, 0.68, 1)
                    fill: #efefef
            #Block-Utekai
                rect 
                    transform: translateY(1400px)
                    // animation: bottomGo 2s cubic-bezier(0.33, 1, 0.68, 1)
        
// Animation CSS

@keyframes goGo
    to
        transform: translateY(-1400px)
@keyframes bottomGo
    to
        transform: translateY(0px)

@keyframes left-right-top
    0%
        left: 0
    100%
        left: calc(100% - 155px)

@keyframes right-left-top
    0%
        right: 0
    100%
        right: calc(75% - 155px)

@keyframes left-right-bottom
    0%
        left: 0
    100%
        left: calc(75% - 155px)

@keyframes right-left-bottom
    0%
        right: 0
    100%
        right: calc(100% - 155px)

@keyframes  whiteFill
    0%
        fill: none
    100%
        fill: #efefef
@keyframes dash 
  to 
    stroke-dashoffset: 0

@keyframes lineDash 
    0%
        stroke-dashoffset: 3000
    60%
        stroke-dashoffset: 0
    100%
        stroke-dashoffset: 3000
    
@keyframes lineDashSecond
    0%
        stroke-dashoffset: 4000
    50%
        stroke-dashoffset: 0
    100%
        stroke-dashoffset: 4000
    

@keyframes lineSquare
    5%
        stroke-dashoffset: 3000
    60%
        stroke-dashoffset: 0
    100% 
        stroke-dashoffset: 0
    
@keyframes transition
    100%
        opacity: 1
        