// Import font family
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

// General Option
::-webkit-scrollbar 
    width: 8px

 
::-webkit-scrollbar-track 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
    background-color: black



::-webkit-scrollbar-thumb 
    border-radius: 10px
    background-color: white
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5)

.wrapper
    background-color: #000
    height: 500vh
    overflow: scroll
    &::-webkit-scrollbar-thumb
        background-color: #F5F5F5
.container 
    max-width: 1440px
    margin: 0 auto
    @media screen and (max-width: 1440px)
        max-width: 1152px
    @media screen and (max-width: 1024px)
        max-width: 864px
    @media screen and (max-width: 768px)
        max-width: 623px
    @media screen and (max-width: 425px)
        max-width: 290px


// Header style
header
    position: fixed
    width: 100%
    padding-top: 80px
    z-index: 4
    @media screen and (max-width: 1024px)
        padding-top: 40px
    @media screen and (max-width: 425px)
        padding: 20px 0 40px
    .container
        display: flex
        align-items: center
        justify-content: space-between
        @media screen and (max-width: 425px)
            align-items: center
.img-logo
    img
        width: 64px
nav.nav-top
    .mob-menu 
        display: none
        width: 33px
        height: 5px
        margin-top: 10px
        background-color: #efefef
        position: relative
        &::after, &::before
            position: absolute
            content: ''
            display: block
            width: 33px
            height: 5px
            background-color: #efefef
        &::before
            top: -10px
            transition: transform ease-in-out .2s, top ease-in-out .2s .2s 
        &::after
            top: 10px
            transition: transform ease-in-out .2s, top ease-in-out .2s .2s 
        &__active
            background-color: transparent
            z-index: 1
            // transition: all ease-in-out .2s 
            &::before
                transform: rotate(45deg)
                background-color: black
                top: 0
                transition: top ease-in-out .2s, transform ease-in-out .2s .2s
            &::after
                transform: rotate(-45deg)
                top: 0
                background-color: black
                transition: top ease-in-out .2s, transform ease-in-out .2s .2s
            
                
            
        @media screen and (max-width: 425px)
            display: block
    ul
        display: flex
        text-align: right
        @media screen and (max-width: 425px)
            display: block
            position: absolute
            height: 100vh
            background-color: #efefef
            top: 0
            right: -100%
            transition: right ease-in-out .2s
            padding: 80px 20px 0 20px   
        li
            a
                font-size: 21px
                text-decoration: none
                color: #efefef
                font-family: 'Lato', sans-serif
                font-weight: 300
                padding: 5px 0
                opacity: .85
                cursor: pointer
                transition: all ease-in-out .2s
                @media screen and (max-width: 425px)
                    color: black
                    position: relative
                    // padding: 80px 20px 0 20px
                &::after
                    @media screen and (max-width: 425px)
                        position: absolute
                        content: ''
                        display: block
                        width: 0px
                        height: 1px
                        background-color: black
                        transition: width ease-in-out .3s
            a:hover
                color: #ffffff
                opacity: 1
                @media screen and (max-width: 425px)
                    color: black
        li:nth-child(2)
            margin: 0 30px
        li:hover a::after
            width: 90px
        
.title
    position: fixed
    width: 100%
    // bottom: calc(50% - 46px)
    z-index: 3
    @media screen and (max-width: 425px)
        bottom: 0 !important
    .container
        height: 100vh
    &__footer
        display: flex
        align-items: center
        position: absolute
        right: 10%
        justify-content: space-between
        flex-direction: column
        transition: opacity cubic-bezier(0.32, 0, 0.67, 0) .7s, transform cubic-bezier(0.65, 0, 0.35, 1) .5s .15s
        @media screen and (max-width: 425px)
            padding-bottom: 50px
            justify-content: center
        &__title
            margin-left: auto
            text-align: right
            @media screen and (max-width: 425px)
                margin-left: 0px
                padding-bottom: 43px
            p
                font-size: 37px
                color: #efefef
                font-family: 'Lato', sans-serif
                font-weight: 600
                padding: 5px 0
                letter-spacing: 3.8px
                line-height: 1.46
                opacity: 0
                transition: opacity cubic-bezier(0.32, 0, 0.67, 0) .7s, transform cubic-bezier(0.65, 0, 0.35, 1) .5s .15s
                @media screen and (max-width: 425px)
                    font-size: 21px
                    padding: 0
                    text-align: center
                    line-height: 1.52
                    letter-spacing: 2.1px
            p#p1
                text-align: right
                transform: translate(-10px, 20px)
                @media screen and (max-width: 768px)
                    display: block !important
                @media screen and (max-width: 425px)
                    text-align: center
                    transform: translate(0px, 20px)
            p#p1, p#p2
                transform: translateY(20px)
            p#p1, p#p2, p#p3
                display: inline-block
            p#p3
                transform: translate(10px, 20px)
        &__subtitle
            margin-left: auto
            @media screen and (max-width: 425px)
                margin-left: 0
            p
                font-size: 21px
                color: #ffffff
                font-family: 'Lato', sans-serif
                font-weight: 300
                padding: 5px 0
                letter-spacing: normal
                line-height: 2
                text-align: right
                transition: opacity cubic-bezier(0.32, 0, 0.67, 0) .7s, transform cubic-bezier(0.65, 0, 0.35, 1) .5s .15s
                opacity: 0
                transform: translateY(20px)
                @media screen and (max-width: 768px)
                    width: 209px
                    font-size: 16px
                    line-height: 1.88
                @media screen and (max-width: 425px)
                    text-align: center

.active
    opacity: 1
.unactive

// Modal
.modal
    display: none
    opacity: 0
    z-index: 10
    background-color: rgba(0, 0, 0, 0.69)
    width: 100%
    height: 100vh
    position: fixed
    transition: opacity ease-in-out .2s
    &__box
        width: 350px
        height: 170px
        background-color: #efefef
        border-radius: 10px
        margin: 0 auto
        transform: translateY(calc(50% + 150px))
    &__header
        max-width: 80%
        margin: 0 auto
        text-align: center
        padding-top: 40px
        font-size: 29px
        border-bottom: 1px solid black
        border-color: rgba(0, 0, 0, 0.45)
        p 
            font-family: 'Lato', sans-serif
        .close
            position: absolute
            width: 30px
            height: 30px
            right: 15px
            top: 10px
            border-radius: 50%
            transition: all ease-in-out .2s
            span 
                position: relative
            span:after
                position: absolute
                top: 13px
                right: -10px
                display: block
                content: ''
                width: 20px
                height: 3px
                background-color: black
                transform: rotate(45deg)
            span:before
                position: absolute
                top: 13px
                right: -10px
                display: block
                content: ''
                width: 20px
                height: 3px
                background-color: black
                transform: rotate(-45deg)
        .close:hover
            background-color: rgba(0, 0, 0, 0.15)
    &__body
        max-width: 80%
        margin: 0 auto
        p
            padding-top: 40px
            text-align: center
            font-size: 21px
            font-family: 'Lato', sans-serif
            a 
                color: black
                cursor: pointer
                font-family: 'Lato', sans-serif

// INTRO SECTION
.intro
    height: 100vh
    width: 100%
    position: fixed
    opacity: 1
    transition: all ease-in-out .4s
    z-index: 1
    .container
        padding: 5% 0
        @media screen and (max-width: 1440px)
            padding: 206px 0 192px

        @media screen and (max-width: 425px)
            padding: 150px 0
    &__animation
        width: 704px
        margin-left: 64px
        @media screen and (max-width: 1440px)
            width: 500px
        @media screen and (max-width: 1024px)
            width: 300px
        // @media screen and (max-width: 768px)
        //     padding: 700px
        @media screen and (max-width: 425px)
            width: 300px
        position: relative
        @media screen and (max-width: 1024px)
            margin: none
        @media screen and (max-width: 768px)
            margin-left: 44.5px
        @media screen and (max-width: 425px)
            margin: 0 auto
        .grid-square
            rect.line.line-left-bottom, rect.line.line-right-bottom, .line-right-top
                stroke-dasharray: 3000
                stroke-dashoffset: 3000
                stroke-miterlimit: 1
                animation: lineSquare 4s cubic-bezier(0.12, 0, 0.39, 0)
            rect.line.line-left-bottom-black, rect.line.line-right-bottom-black, .line-right-top-black
                stroke: black
                stroke-miterlimit: 1
                stroke-dasharray: 3000
                stroke-dashoffset: 3000
                animation: lineSquare 4.2s .8s cubic-bezier(0.12, 0, 0.39, 0)
            #Vertical-Left, #Vertical-Right
                line
                    stroke-dasharray: 3000
                    stroke-dashoffset: 0
                    animation: lineDash 2s cubic-bezier(0.87, 0, 0.13, 1) forwards

        .circle-plain
            width: 350px
            @media screen and (max-width: 1440px)
                width: 250px
            @media screen and (max-width: 1024px)
                width: 150px
            position: absolute
        .circle-plain-right
            right: 0
            top: 3px
            #Stroke
                transform: rotate(180deg)
                transform-origin: center
                path
                    stroke-dasharray: 4000
                    stroke-dashoffset: 4000
                    animation: dash 1.5s linear forwards
        .circle-plain-left 
            left: 0
            top: 3px
        .circle-plain-left-bottom
            left: 0
            bottom: 0
            #Stroke
                transform: rotate(180deg)
                transform-origin: center
                path
                    stroke-dasharray: 4000
                    stroke-dashoffset: 4000
                    animation: dash 1.5s linear forwards
        .circle-plain-right-bottom
            right: 0
            bottom: 0



// SECOND SEСTION
.about
    height: 100vh
    width: 100%
    position: fixed
    opacity: 0
    z-index: 0
    transition: opacity ease-in-out .2s
    .container
        padding: 5% 0
        @media screen and (max-width: 1440px)
            padding: 126px 0 192px
        @media screen and (max-width: 768px)
            padding: 192px 0
        @media screen and (max-width: 425px)
            padding: 150px 0
    &__animation
        width: 704px
        margin-left: 64px
        @media screen and (max-width: 1440px)
            width: 510px
        @media screen and (max-width: 1024px)
            width: 410px
            margin: none
        @media screen and (max-width: 768px)
            width: 300px
            margin-left: 44.5px
        @media screen and (max-width: 425px)
            margin: 0 auto
        svg
            overflow: visible


// THIRD SECTION
.we-create
    height: 100vh
    padding: 100px 0
    width: 100%
    position: fixed
    opacity: 0
    z-index: 0
    transition: all ease-in-out .2s
    .container
        padding: 100px 0 
        @media screen and (max-width: 1440px)
            padding: 50px 0 192px
        @media screen and (max-width: 1024px)
            padding: 132px 0
        @media screen and (max-width: 425px)
            padding: 150px 0
    &__animation
        width: 704px
        margin-left: 64px
        @media screen and (max-width: 1440px)
            width: 510px
        @media screen and (max-width: 1024px)
            width: 410px
            margin: none
        @media screen and (max-width: 768px)
            width: 300px
            margin-left: 44.5px
        @media screen and (max-width: 425px)
            margin: 0 auto
        .ubi-svg
            overflow: hidden
            #Rigth-Block
                transform: translateY(2400px)
            #Square-CENTER
                rect
                    transform: translateY(1400px)
                    z-index: 1
            #Block-Center-Right-L
                rect
                    transform: translateY(1800px)
            #Block-Center-Right-L-Black
                rect 
                    fill: black
                    z-index: 0
            #Block-Center-Top-Left-L
                rect 
                    transform: translateY(2000px)
            #Block-Center-Top-Left-L-Black
                rect
                    fill: black
                    stroke: #efefef
            #Block-Left-Top-Black
                rect
                    fill: black
                    stroke: #efefef
            g#Block-Left-Top
                rect
                    transform: translateY(1800px)
            #Block-Left-Bottom
                rect 
                    // animation: goGo 2s cubic-bezier(0.33, 1, 0.68, 1)
                    transform: translateY(1400px)
                    fill: #efefef
            #Block-Utekai
                rect 
                    transform: translateY(2000px)
                    // animation: bottomGo 2s cubic-bezier(0.33, 1, 0.68, 1)
mask 
    rect
        opacity: 0
        transition: opacity ease-in-out .5s

.innovate
    height: 100vh
    width: 100%
    position: fixed
    opacity: 0
    z-index: 0
    transition: all ease-in-out .2s
    .container
        padding: 100px 0
        @media screen and (max-width: 1440px)
            padding: 126px 0 192px
        @media screen and (max-width: 1024px)
            padding: 192px 0
        @media screen and (max-width: 768px)
            padding: 192px 0
        @media screen and (max-width: 425px)
            padding: 150px 0
    &__animation
        width: 704px
        margin-left: 64px
        @media screen and (max-width: 1440px)
            width: 510px
        @media screen and (max-width: 1024px)
            width: 410px
            margin: none
        @media screen and (max-width: 768px)
            width: 300px
            margin-left: 44.5px
        @media screen and (max-width: 425px)
            margin: 0 auto
        svg
            overflow: visible
    &__circles
        transition: fill ease-in-out .2s
        transform-origin: center
        transform-box: fill-box

    &__block
        transition: opacity ease-in-out .2s
        stroke-dasharray: 4000
        stroke-dashoffset: 4000
        

// Animation CSS

@keyframes goGo
    to
        transform: translateY(-1400px)
@keyframes bottomGo
    to
        transform: translateY(0px)

@keyframes left-right-top-1920
    0%
        left: 0
    100%
        left: calc(100% - 350px)

@keyframes left-right-top-1440
    0%
        left: 0
    100%
        left: calc(100% - 250px)


@keyframes left-right-top-1024
    0%
        left: 0
    100%
        left: calc(100% - 150px)

@keyframes right-left-top-1920
    0%
        right: 0
    100%
        right: calc(75% - 350px)

@keyframes right-left-top-1440
    0%
        right: 0
    100%
        right: calc(75% - 250px)


@keyframes right-left-top-1024
    0%
        right: 0
    100%
        right: calc(75% - 150px)

@keyframes left-right-bottom-1920
    0%
        left: 0
    100%
        left: calc(75% - 350px)

@keyframes left-right-bottom-1440
    0%
        left: 0
    100%
        left: calc(75% - 250px)

@keyframes left-right-bottom-1024
    0%
        left: 0
    100%
        left: calc(75% - 150px)

@keyframes right-left-bottom-1920
    0%
        right: 0
    100%
        right: calc(100% - 350px)

@keyframes right-left-bottom-1440
    0%
        right: 0
    100%
        right: calc(100% - 250px)


@keyframes right-left-bottom-1024
    0%
        right: 0
    100%
        right: calc(100% - 150px)

@keyframes  whiteFill
    0%
        fill: none
    100%
        fill: #efefef
@keyframes dash 
  to 
    stroke-dashoffset: 0

@keyframes lineDash 
    0%
        stroke-dashoffset: 3000
    60%
        stroke-dashoffset: 0
    100%
        stroke-dashoffset: 3000
    
@keyframes lineDashSecond
    0%
        stroke-dashoffset: 4000
    50%
        stroke-dashoffset: 0
    100%
        stroke-dashoffset: 4000
    

@keyframes lineSquare
    5%
        stroke-dashoffset: 3000
    60%
        stroke-dashoffset: 0
    100% 
        stroke-dashoffset: 0
    
@keyframes transition
    100%
        opacity: 1

@keyframes text-p
    from
        opacity: 0.2
    to
        opacity: 1
        
        