@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: black;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.wrapper {
  background-color: #000;
  height: 500vh;
  overflow: scroll;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: #F5F5F5;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1152px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 864px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 623px;
  }
}

@media screen and (max-width: 425px) {
  .container {
    max-width: 290px;
  }
}

header {
  position: fixed;
  width: 100%;
  padding-top: 80px;
  z-index: 3;
}

@media screen and (max-width: 1024px) {
  header {
    padding-top: 40px;
  }
}

@media screen and (max-width: 425px) {
  header {
    padding: 20px 0 40px;
  }
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 425px) {
  header .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.img-logo img {
  width: 64px;
}

nav.nav-top .mob-menu {
  display: none;
  width: 33px;
  height: 5px;
  margin-top: 10px;
  background-color: #efefef;
  position: relative;
}

nav.nav-top .mob-menu::after, nav.nav-top .mob-menu::before {
  position: absolute;
  content: '';
  display: block;
  width: 33px;
  height: 5px;
  background-color: #efefef;
}

nav.nav-top .mob-menu::before {
  top: -10px;
  -webkit-transition: top ease-in-out .2s .2s, -webkit-transform ease-in-out .2s;
  transition: top ease-in-out .2s .2s, -webkit-transform ease-in-out .2s;
  transition: transform ease-in-out .2s, top ease-in-out .2s .2s;
  transition: transform ease-in-out .2s, top ease-in-out .2s .2s, -webkit-transform ease-in-out .2s;
}

nav.nav-top .mob-menu::after {
  top: 10px;
  -webkit-transition: top ease-in-out .2s .2s, -webkit-transform ease-in-out .2s;
  transition: top ease-in-out .2s .2s, -webkit-transform ease-in-out .2s;
  transition: transform ease-in-out .2s, top ease-in-out .2s .2s;
  transition: transform ease-in-out .2s, top ease-in-out .2s .2s, -webkit-transform ease-in-out .2s;
}

nav.nav-top .mob-menu__active {
  background-color: transparent;
  z-index: 1;
}

nav.nav-top .mob-menu__active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: black;
  top: 0;
  -webkit-transition: top ease-in-out .2s, -webkit-transform ease-in-out .2s .2s;
  transition: top ease-in-out .2s, -webkit-transform ease-in-out .2s .2s;
  transition: top ease-in-out .2s, transform ease-in-out .2s .2s;
  transition: top ease-in-out .2s, transform ease-in-out .2s .2s, -webkit-transform ease-in-out .2s .2s;
}

nav.nav-top .mob-menu__active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  background-color: black;
  -webkit-transition: top ease-in-out .2s, -webkit-transform ease-in-out .2s .2s;
  transition: top ease-in-out .2s, -webkit-transform ease-in-out .2s .2s;
  transition: top ease-in-out .2s, transform ease-in-out .2s .2s;
  transition: top ease-in-out .2s, transform ease-in-out .2s .2s, -webkit-transform ease-in-out .2s .2s;
}

@media screen and (max-width: 425px) {
  nav.nav-top .mob-menu {
    display: block;
  }
}

nav.nav-top ul {
  text-align: right;
}

@media screen and (max-width: 425px) {
  nav.nav-top ul {
    display: block;
    position: absolute;
    height: 100vh;
    background-color: #efefef;
    top: 0;
    right: -100%;
    -webkit-transition: right ease-in-out .2s;
    transition: right ease-in-out .2s;
    padding: 80px 20px 0 20px;
  }
}

nav.nav-top ul li a {
  font-size: 21px;
  text-decoration: none;
  color: #efefef;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 5px 0;
  opacity: .85;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

@media screen and (max-width: 425px) {
  nav.nav-top ul li a {
    color: black;
    position: relative;
  }
}

@media screen and (max-width: 425px) {
  nav.nav-top ul li a::after {
    position: absolute;
    content: '';
    display: block;
    width: 0px;
    height: 1px;
    background-color: black;
    -webkit-transition: width ease-in-out .3s;
    transition: width ease-in-out .3s;
  }
}

nav.nav-top ul li a:hover {
  color: #ffffff;
  opacity: 1;
}

@media screen and (max-width: 425px) {
  nav.nav-top ul li a:hover {
    color: black;
  }
}

nav.nav-top ul li:nth-child(2) {
  margin: 32px 0;
}

nav.nav-top ul li:hover a::after {
  width: 90px;
}

.title {
  position: fixed;
  width: 100%;
  bottom: 10%;
  z-index: 3;
}

@media screen and (max-width: 425px) {
  .title {
    bottom: 0;
  }
}

.title__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 425px) {
  .title__footer {
    padding-bottom: 73px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.title__footer__title p {
  font-size: 37px;
  color: #efefef;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  padding: 5px 0;
  letter-spacing: 6px;
  opacity: 0;
  -webkit-transition: opacity cubic-bezier(0.32, 0, 0.67, 0) 0.7s, -webkit-transform cubic-bezier(0.65, 0, 0.35, 1) 0.5s 0.15s;
  transition: opacity cubic-bezier(0.32, 0, 0.67, 0) 0.7s, -webkit-transform cubic-bezier(0.65, 0, 0.35, 1) 0.5s 0.15s;
  transition: opacity cubic-bezier(0.32, 0, 0.67, 0) 0.7s, transform cubic-bezier(0.65, 0, 0.35, 1) 0.5s 0.15s;
  transition: opacity cubic-bezier(0.32, 0, 0.67, 0) 0.7s, transform cubic-bezier(0.65, 0, 0.35, 1) 0.5s 0.15s, -webkit-transform cubic-bezier(0.65, 0, 0.35, 1) 0.5s 0.15s;
}

@media screen and (max-width: 425px) {
  .title__footer__title p {
    font-size: 21px;
    padding: 0;
    text-align: center;
    line-height: 1.52;
    letter-spacing: 2.1px;
  }
}

.title__footer__title p#p1, .title__footer__title p#p2 {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.title__footer__title p#p2, .title__footer__title p#p3 {
  display: inline-block;
}

.title__footer__title p#p3 {
  -webkit-transform: translate(10px, 20px);
          transform: translate(10px, 20px);
}

@media screen and (max-width: 768px) {
  .title__footer__arrow {
    display: none;
  }
}

.title__footer__arrow img {
  width: 32px;
  opacity: .5;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

.title__footer__arrow img:hover {
  opacity: 1s;
}

.intro {
  height: 100vh;
  width: 100%;
  position: fixed;
  opacity: 1;
  -webkit-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
  z-index: 1;
}

.intro .container {
  padding: 192px 0 128px 0;
}

@media screen and (max-width: 1440px) {
  .intro .container {
    padding: 206px 0 192px;
  }
}

@media screen and (max-width: 425px) {
  .intro .container {
    padding: 150px 0;
  }
}

.intro__animation {
  width: 704px;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 1440px) {
  .intro__animation {
    width: 310px;
  }
}

@media screen and (max-width: 425px) {
  .intro__animation {
    width: 300px;
  }
}

@media screen and (max-width: 1024px) {
  .intro__animation {
    margin: none;
    margin-left: 64px;
  }
}

@media screen and (max-width: 768px) {
  .intro__animation {
    margin-left: 44.5px;
  }
}

@media screen and (max-width: 425px) {
  .intro__animation {
    margin: 0 auto;
  }
}

.intro__animation .grid-square rect.line.line-left-bottom, .intro__animation .grid-square rect.line.line-right-bottom, .intro__animation .grid-square .line-right-top {
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  stroke-miterlimit: 1;
  -webkit-animation: lineSquare 4s cubic-bezier(0.12, 0, 0.39, 0);
          animation: lineSquare 4s cubic-bezier(0.12, 0, 0.39, 0);
}

.intro__animation .grid-square rect.line.line-left-bottom-black, .intro__animation .grid-square rect.line.line-right-bottom-black, .intro__animation .grid-square .line-right-top-black {
  stroke: black;
  stroke-miterlimit: 1;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  -webkit-animation: lineSquare 4.2s 0.8s cubic-bezier(0.12, 0, 0.39, 0);
          animation: lineSquare 4.2s 0.8s cubic-bezier(0.12, 0, 0.39, 0);
}

.intro__animation .grid-square #Vertical-Left line, .intro__animation .grid-square #Vertical-Right line {
  stroke-dasharray: 3000;
  stroke-dashoffset: 0;
  -webkit-animation: lineDash 2s cubic-bezier(0.87, 0, 0.13, 1) forwards;
          animation: lineDash 2s cubic-bezier(0.87, 0, 0.13, 1) forwards;
}

.intro__animation .circle-plain {
  width: 350px;
  position: absolute;
}

@media screen and (max-width: 1440px) {
  .intro__animation .circle-plain {
    width: 155px;
  }
}

.intro__animation .circle-plain-right {
  right: 0;
  top: 3px;
}

.intro__animation .circle-plain-right #Stroke {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.intro__animation .circle-plain-right #Stroke path {
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
  -webkit-animation: dash 1.5s linear forwards;
          animation: dash 1.5s linear forwards;
}

.intro__animation .circle-plain-left {
  left: 0;
  top: 3px;
}

.intro__animation .circle-plain-left-bottom {
  left: 0;
  bottom: 0;
}

.intro__animation .circle-plain-left-bottom #Stroke {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.intro__animation .circle-plain-left-bottom #Stroke path {
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
  -webkit-animation: dash 1.5s linear forwards;
          animation: dash 1.5s linear forwards;
}

.intro__animation .circle-plain-right-bottom {
  right: 0;
  bottom: 0;
}

.about {
  height: 100vh;
  width: 100%;
  position: fixed;
  opacity: 0;
  z-index: 0;
  -webkit-transition: opacity ease-in-out .2s;
  transition: opacity ease-in-out .2s;
}

.about .container {
  padding: 192px 0 128px 0;
}

@media screen and (max-width: 1440px) {
  .about .container {
    padding: 126px 0 192px;
  }
}

@media screen and (max-width: 768px) {
  .about .container {
    padding: 192px 0;
  }
}

@media screen and (max-width: 425px) {
  .about .container {
    padding: 150px 0;
  }
}

.about__animation {
  margin: 0 auto;
  width: 704px;
}

@media screen and (max-width: 1440px) {
  .about__animation {
    width: 510px;
  }
}

@media screen and (max-width: 1024px) {
  .about__animation {
    width: 410px;
    margin: none;
    margin-left: 64px;
  }
}

@media screen and (max-width: 768px) {
  .about__animation {
    width: 300px;
    margin-left: 44.5px;
  }
}

@media screen and (max-width: 425px) {
  .about__animation {
    margin: 0 auto;
  }
}

.about__animation svg {
  overflow: visible;
}

.we-create {
  height: 100vh;
  padding: 100px 0;
  width: 100%;
  position: fixed;
  opacity: 0;
  z-index: 0;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

.we-create .container {
  padding: 132px 0 128px 0;
}

@media screen and (max-width: 1440px) {
  .we-create .container {
    padding: 50px 0 192px;
  }
}

@media screen and (max-width: 1024px) {
  .we-create .container {
    padding: 132px 0;
  }
}

@media screen and (max-width: 425px) {
  .we-create .container {
    padding: 150px 0;
  }
}

.we-create__animation {
  margin: 0 auto;
  width: 704px;
}

@media screen and (max-width: 1440px) {
  .we-create__animation {
    width: 510px;
  }
}

@media screen and (max-width: 1024px) {
  .we-create__animation {
    width: 410px;
    margin: none;
    margin-left: 64px;
  }
}

@media screen and (max-width: 768px) {
  .we-create__animation {
    width: 300px;
    margin-left: 44.5px;
  }
}

@media screen and (max-width: 425px) {
  .we-create__animation {
    margin: 0 auto;
  }
}

.we-create__animation .ubi-svg {
  overflow: hidden;
}

.we-create__animation .ubi-svg #Rigth-Block {
  -webkit-transform: translateY(2400px);
          transform: translateY(2400px);
}

.we-create__animation .ubi-svg #Square-CENTER rect {
  -webkit-transform: translateY(1400px);
          transform: translateY(1400px);
  z-index: 1;
}

.we-create__animation .ubi-svg #Block-Center-Right-L rect {
  -webkit-transform: translateY(1800px);
          transform: translateY(1800px);
}

.we-create__animation .ubi-svg #Block-Center-Right-L-Black rect {
  fill: black;
  z-index: 0;
}

.we-create__animation .ubi-svg #Block-Center-Top-Left-L rect {
  -webkit-transform: translateY(2000px);
          transform: translateY(2000px);
}

.we-create__animation .ubi-svg #Block-Center-Top-Left-L-Black rect {
  fill: black;
  stroke: #efefef;
}

.we-create__animation .ubi-svg #Block-Left-Top-Black rect {
  fill: black;
  stroke: #efefef;
}

.we-create__animation .ubi-svg g#Block-Left-Top rect {
  -webkit-transform: translateY(1800px);
          transform: translateY(1800px);
}

.we-create__animation .ubi-svg #Block-Left-Bottom rect {
  -webkit-transform: translateY(1400px);
          transform: translateY(1400px);
  fill: #efefef;
}

.we-create__animation .ubi-svg #Block-Utekai rect {
  -webkit-transform: translateY(2000px);
          transform: translateY(2000px);
}

mask rect {
  opacity: 0;
  -webkit-transition: opacity ease-in-out .5s;
  transition: opacity ease-in-out .5s;
}

.innovate {
  height: 100vh;
  width: 100%;
  position: fixed;
  opacity: 0;
  z-index: 0;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

.innovate .container {
  padding: 100px 0;
}

@media screen and (max-width: 1440px) {
  .innovate .container {
    padding: 126px 0 192px;
  }
}

@media screen and (max-width: 1024px) {
  .innovate .container {
    padding: 192px 0;
  }
}

@media screen and (max-width: 768px) {
  .innovate .container {
    padding: 192px 0;
  }
}

@media screen and (max-width: 425px) {
  .innovate .container {
    padding: 150px 0;
  }
}

.innovate__animation {
  margin: 0 auto;
  width: 704px;
}

@media screen and (max-width: 1440px) {
  .innovate__animation {
    width: 510px;
  }
}

@media screen and (max-width: 1024px) {
  .innovate__animation {
    width: 410px;
    margin: none;
    margin-left: 64px;
  }
}

@media screen and (max-width: 768px) {
  .innovate__animation {
    width: 300px;
    margin-left: 44.5px;
  }
}

@media screen and (max-width: 425px) {
  .innovate__animation {
    margin: 0 auto;
  }
}

.innovate__animation svg {
  overflow: visible;
}

.innovate__circles {
  -webkit-transition: fill ease-in-out .2s;
  transition: fill ease-in-out .2s;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.innovate__block {
  -webkit-transition: opacity ease-in-out .2s;
  transition: opacity ease-in-out .2s;
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
}

@-webkit-keyframes goGo {
  to {
    -webkit-transform: translateY(-1400px);
            transform: translateY(-1400px);
  }
}

@keyframes goGo {
  to {
    -webkit-transform: translateY(-1400px);
            transform: translateY(-1400px);
  }
}

@-webkit-keyframes bottomGo {
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes bottomGo {
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes left-right-top-1920 {
  0% {
    left: 0;
  }
  100% {
    left: calc(100% - 350px);
  }
}

@keyframes left-right-top-1920 {
  0% {
    left: 0;
  }
  100% {
    left: calc(100% - 350px);
  }
}

@-webkit-keyframes left-right-top-1440 {
  0% {
    left: 0;
  }
  100% {
    left: calc(100% - 155px);
  }
}

@keyframes left-right-top-1440 {
  0% {
    left: 0;
  }
  100% {
    left: calc(100% - 155px);
  }
}

@-webkit-keyframes right-left-top-1920 {
  0% {
    right: 0;
  }
  100% {
    right: calc(75% - 350px);
  }
}

@keyframes right-left-top-1920 {
  0% {
    right: 0;
  }
  100% {
    right: calc(75% - 350px);
  }
}

@-webkit-keyframes right-left-top-1440 {
  0% {
    right: 0;
  }
  100% {
    right: calc(75% - 155px);
  }
}

@keyframes right-left-top-1440 {
  0% {
    right: 0;
  }
  100% {
    right: calc(75% - 155px);
  }
}

@-webkit-keyframes left-right-bottom-1920 {
  0% {
    left: 0;
  }
  100% {
    left: calc(75% - 350px);
  }
}

@keyframes left-right-bottom-1920 {
  0% {
    left: 0;
  }
  100% {
    left: calc(75% - 350px);
  }
}

@-webkit-keyframes left-right-bottom-1440 {
  0% {
    left: 0;
  }
  100% {
    left: calc(75% - 155px);
  }
}

@keyframes left-right-bottom-1440 {
  0% {
    left: 0;
  }
  100% {
    left: calc(75% - 155px);
  }
}

@-webkit-keyframes right-left-bottom-1920 {
  0% {
    right: 0;
  }
  100% {
    right: calc(100% - 350px);
  }
}

@keyframes right-left-bottom-1920 {
  0% {
    right: 0;
  }
  100% {
    right: calc(100% - 350px);
  }
}

@-webkit-keyframes right-left-bottom-1440 {
  0% {
    right: 0;
  }
  100% {
    right: calc(100% - 155px);
  }
}

@keyframes right-left-bottom-1440 {
  0% {
    right: 0;
  }
  100% {
    right: calc(100% - 155px);
  }
}

@-webkit-keyframes whiteFill {
  0% {
    fill: none;
  }
  100% {
    fill: #efefef;
  }
}

@keyframes whiteFill {
  0% {
    fill: none;
  }
  100% {
    fill: #efefef;
  }
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes lineDash {
  0% {
    stroke-dashoffset: 3000;
  }
  60% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 3000;
  }
}

@keyframes lineDash {
  0% {
    stroke-dashoffset: 3000;
  }
  60% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 3000;
  }
}

@-webkit-keyframes lineDashSecond {
  0% {
    stroke-dashoffset: 4000;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 4000;
  }
}

@keyframes lineDashSecond {
  0% {
    stroke-dashoffset: 4000;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 4000;
  }
}

@-webkit-keyframes lineSquare {
  5% {
    stroke-dashoffset: 3000;
  }
  60% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes lineSquare {
  5% {
    stroke-dashoffset: 3000;
  }
  60% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes transition {
  100% {
    opacity: 1;
  }
}

@keyframes transition {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes text-p {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@keyframes text-p {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */