// 263px - havigation
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.wrapper
    background-color: #000

.container 
    max-width: 1152px
    margin: 0 auto
header
    padding-top: 103px
    .container
        display: flex
        align-items: flex-start
        justify-content: space-between
.img-logo
    img
        width: 64px
nav.nav-top
    ul
        text-align: right
        li
            a
                font-size: 21px
                text-decoration: none
                color: #efefef
                font-family: 'Lato', sans-serif
                font-weight: 300
                padding: 5px 0
            a:hover
                color: #ffffff
        li:nth-child(2)
            margin: 32px 0

.intro
    &__animation
        height: 40vh
    &__footer
        &__title
            p
                font-size: 37px
                color: #efefef
                font-family: 'Lato', sans-serif
                font-weight: 600
                padding: 10px 0
                letter-spacing: 6px
            p:last-child
                padding-bottom: 80px    

        &__arrow